---
layout: default
type: home
---
<!-- About me section -->
<section id="about-me" class="section section-about">
	<div class="row centered">
    <div class="centered-content">
      <div class="avatar">{% include avatar.html %}</div>

      <h1 class="tc">Olá, sou Gabriel Felipe Marques. Tenho 22 anos e sou desenvolvedor full-stack e mobile com tecnologias para Web</h1>
			<p class="tj">Brasileiro, nascido no estado do Paraná em 1995. Formado como tecnólogo em Análise e Desenvolvimento de Sistema pelo Instituto Federal do Paraná (IFPR) Campus Londrina em 2015.Atualmente cursando Técnico em Eletromecânica pelo SENAI Londrina, com previsão de formação em 2017.</p>
			<p class="tj">Venho atuando na área desde 2015, começando com manutenção de redes, computadores e infraestrutura. Depois, a partir de 2016, com o desenvolvimento de apps para mobile utilizando tecnologias para Web.</p>
			<p class="tj">Já trabalhei com diversas tecnologias, como as linguagens de programação Java, C#, ASP, Javascript; bancos de dados SQL como MySQL e Microsoft SQL Server, e noSQL, como MongoDB</p>
      <p class="tj">Tenho muito interesse em novas tecnologias e por isso estou quase sempre tentando aprender o que há de novo no mercado.</p>
			<p class="tj">Busco sempre aprender com os outros a minha volta e conhecer novas áreas do conhecimento, tentando conectá-las a que atuo.</p>
			<p class="tj">Compreendo, leio e escrevo em português brasileiro e inglês, e pretendo aprender o idioma francês.</p>
			<p class="tj">Em meu tempo livro eu gosto muito de ler livros e quadrinhos com temáticas fantásticas e as vezes me dedicar em projetos pessoais de DIY (faça você mesmo).</p>
        <div class="intro-text">
          <!-- <h3 class="title">Features</h3> -->
          <div class="row">
						<div class="col-3">
							<div class="feature">
								<a href="#about-me" data-siteurl="{{site.url}}">
									<svg class="icon icon-person_outline"><use xlink:href="#icon-person_outline"></use></svg>
									<h3 class="block">Sobre mim</h3>
								</a>
							</div>
						</div>
            <div class="col-3">
              <div class="feature">
								<a class="link-home" href="#work">
									<svg class="icon icon-add"><use xlink:href="#icon-add"></use></svg>
									<h3 class="block">Ver portfolio</h3>
								</a>
              </div>
            </div>
            <div class="col-3">
              <div class="feature">
								<a class="link-home" href="#contact">
									<svg class="icon icon-chat_bubble_outline"><use xlink:href="#icon-chat_bubble_outline"></use></svg>
									<h3 class="block">Entrar em contato</h3>
								</a>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
</section>

<!-- Work Section -->
<section id="work" class="section section-work">
	<div class="row">
		<h2 class="heading">Projetos</h2>

		<div class="work-container">
			<!-- Insert project -->
		</div>

		<ul class="work-grid">
		{% if site.data.projects %}

			{% for project in site.data.projects %}
				<li class="work-tile" style="background-image: url( {{site.url}}/{{ project.cover-img }});">
					<div class="tile-text">
						<span class="work-item-title">{{ project.title }}</span>
						<span class="work-item-client">{{ project.client }}</span>
					</div>
          <a href="#{{project.id}}" data-siteurl="{{site.url}}" class="button work-tile-link"><svg class="icon icon-eye"><use xlink:href="#icon-eye"></use></svg></a>
				</li>
				{% assign projects_count = forloop.length %}
			{% endfor %}

			{% if projects_count < 4 %}
				<li class="work-tile-placeholder row work-tile-{{ projects_count }}">
				<!-- <li class="work-tile-placeholder row" style="width: {{ projects_count | times: 25 | minus: 100 | times: -1 }}%;"> -->
					<span class="placeholder">Quer ver um projeto seu aqui?</span>
					<p class="placeholder small">Preencha os dados <a href="#contact">abaixo</a></p>
				</li>
			{% endif %}

		{% else %}
			<li class="work-tile-placeholder row work-tile-full">
				<span class="placeholder">Quer ver um projeto seu aqui?</span>
				<p class="placeholder small">Preencha os dados <a href="#contact">abaixo</a></p>
			</li>
		{% endif %}
		</ul>
	</div>
</section>

<!-- Contact section -->
{% if site.formpost %}
<section id="contact" class="section section-contact">
	<div class="row">
		<h2 class="heading">Vamos comunicar</h2>
		<form id="contact-form" method="post" action="{{ site.formpost }}">
			<ul class="form-items">
				<li>
					<label for="contact-name">Seu nome é</label>
					<input type="text" name="contact-name" id="contact-name" class="form-input" placeholder="Ex: Fulano de Tal">
					<span class="error-message"></span>
				</li>
				<li>
					<label for="contact-email">Seu e-mail é</label>
					<input type="email" name="_replyto" id="contact-email" class="form-input" placeholder="Ex: fulano@gmail.com">
					<span class="error-message"></span>
				</li>

				<li>
					<label for="contact-subject">Qual sua ideia?</label>
					<input type="text" name="_subject" id="contact-subject" class="form-input" placeholder="Ex: Site para minha empresa">
					<span class="error-message"></span>
				</li>

				<li>
					<label for="contact-message">Descreva melhor a ideia</label>
					<textarea name="contact-message" id="contact-message" class="form-input" rows="5"></textarea>
					<span class="error-message"></span>
				</li>
				<li>
					<input type="submit" class="button" value="Tudo pronto? Enviar">
				</li>
				<li class="form-result row">
					<span class="form-message success"><svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>Obrigado! Em breve entrarei em contato.</span>
				</li>
			</ul>
		</form>
	</div>
</section>
{% endif %}
