<footer class="footer">
	<div class="row">
		<ul class="footer-icons">
			{% for account in site.data.social.footer %}
				{% if account.name == 'twitter' %}<li><a href="{{ account.link }}" class="icon-twitter icon-a-footer" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li> {% endif %}
				{% if account.name == 'github' %}<li><a href="{{ account.link }}" class="icon-github icon-a-footer" target="_blank"><svg class="icon icon-social-github"><use xlink:href="#icon-social-github"></use></svg></a></li> {% endif %}
				{% if account.name == 'gitlab' %}<li><a href="{{ account.link }}" class="icon-gitlab icon-a-footer" target="_blank"><svg class="icon icon-social-gitlab"><use xlink:href="#icon-social-gitlab"></use></svg></a></li> {% endif %}
				{% if account.name == 'google' %}<li><a href="{{ account.link }}" class="icon-google-plus-square icon-a-footer" target="_blank"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a></li> {% endif %}
				{% if account.name == 'facebook' %}<li><a href="{{ account.link }}" class="icon-facebook icon-a-footer" target="_blank"><svg class="icon icon-social-facebook-circular"><use xlink:href="#icon-social-facebook-circular"></use></svg></a></li> {% endif %}
				{% if account.name == 'linkedin' %}<li><a href="{{ account.link }}" class="icon-linkedin icon-a-footer" target="_blank"><svg class="icon icon-social-linkedin"><use xlink:href="#icon-social-linkedin"></use></svg></a></li>{% endif %}
			{% endfor %}
		</ul>

		<small class="footer-text tc">Feito com muito <span class="icon-favorite"><svg class="icon icon-heart icon-heart-footer"><use xlink:href="#icon-heart"></use></svg></span> por <a class="link-footer" href="https://github.com/marquesgabriel">Gabriel Marques</a>. Tema de <a class="link-footer" href="https://github.com/talentedunicorn">TalentedUnicorn</a></small>
	</div>
</footer>
