// == Basic
$documentBackgroundColor: #f4f4fa;
$documentColor: #303030;

// == Color Scheme
$red: #B86A56;
$white: #f4f4fa;
$black: #303030;
$orange: #E88F0C;
$grey: #CCCCCC;
$blue: #7091A1;

$aqua-forest: #5CAB7D;
$spring-leaves: #5A9367;
$tom-thumb: #44633F;
$cabbage-pont: #3F4B3B;
$gurkha: #9E9A68;

$paradiso: #379392;
$pelorous: #4FB0C6;
$indigo: #4F86C6;
$studio: #6C49B8;

$color-success: rgba(0, 177, 120, 1);
