@use 'styles/base';
// Dynamic style list
@use 'styles/cyberpunk';
@use 'styles/detective';
@use 'styles/flat';
@use 'styles/gothic';
@use 'styles/synthwave';
@use 'styles/vaporwave';
@use 'styles/win98';

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}