@import "./styles/base";
// Dynamic style list
@import "./styles/win98";
@import "./styles/atom";
@import "./styles/cyberpunk";
@import "./styles/flat";
@import "./styles/otaku";
@import "./styles/vaporwave";
@import "./styles/gothic";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}